/*@import "compass/css3";*/
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300);
/*html {*/
    /*font: 15px;*/
    /*background-size: cover;*/
    /*margin-top: 5%;*/
/*}*/
* {

    box-sizing: border-box;
}

#first {
    margin-top: 10%;
}
img {
    width: 110%;
}
.card-wrap {
    width: 1000px;
    margin: 80px auto;
    background: #eec7c7;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    border-top: 33.3333333333px solid #da4e4e;
    font-family: 'Raleway', sans-serif;
}
.profile_pic-wrap {
    width: 100px;
    height: 100px;
    background: #e3e3e3;
    top: 0;
    left: 50%;
    padding: 5px;
    position: absolute;
    margin-left: -50px;
    top: -50px;
    border-radius: 50%;
    overflow: hidden;
}
.profile_pic-wrap img {
    border-radius: 50%;
}
.user-name {
    text-align: center;
    margin-top: 50px;
}
.user-title {
    text-align: center;
}
.find_me-wrap {
    margin-top: 40px;
}
.find-me {
    /*font: 0.7em;*/
}
.info-wrap {
    text-align: center;
}
.icon-wrap a {
    line-height: 70px;
    width: 24%;
    text-decoration: none;
    padding: 0;
    font-size: 2em;
    cursor: pointer;
    margin: 0;
    color: #f1b9b9;
    transition: color 0.1s linear;
}
.icon-wrap a:hover {
    color: #f6c9c9;
}


.todo-list {
    /*background: #FFF;*/
    font-size: 20px;
    /*max-width: 30%;*/
    margin: auto;
    width: 30%;
    height: 20%;
    /*padding: 0.5em 1em;*/
    /*box-shadow: 0 5px 30px rgba(0,0,0,0.2);*/
}

input {
    border: none;
    width: 100%;
}





.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    /*font-size: 1.3rem;*/
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #478486, #5ebec1);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #5ebec1;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/* demo */
/*body {*/
/*    font-family: "Poppins", sans-serif;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    font-size: 1.5rem;*/
/*    background-color: #222222;*/
/*}*/

#shoppingList {
    margin-left: 30%;
    font-family: 'Droid Sans', sans-serif;
    color: #0c5460;
}